@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --col-bg: #222;
    --col-rm: #DA5232;
    --col-border: #555;
    --col-bgl: #555;
    --col-bgi: #ddd;
    --col-bginact: #bbb;
    --col-sel: #666;
    --col-txtd: #222;
    --col-txtl: #eee;
    --col-input: #eee;
}

body {
    background-color: var(--col-bg);
}

input[type=text], input[type=password] {
    margin: 0 auto;
    display: block;
    position: relative;
    border: none;
    outline: none;
    background-color: var(--col-input);
    font-size: 1.2em;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

button, input[type=submit] {
    margin: 0 auto;
    display: block;
    position: relative;
    border: none;
    outline: none;
    background-color: var(--col-bgl);
    color: var(--col-txtl);
    padding: 10px;
    font-size: 1.2em;
    width: 50%;
    cursor: pointer;
    transition: .3s;
}

button:hover, input[type=submit]:hover {
    background-color: var(--col-sel);
}

#spopcontainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#usermenubtn {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
    height: 30px;
    width: 30px;
    background-color: var(--col-bgl);
    color: var(--col-txtl);
    border: 1px var(--col-bg) solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    cursor: pointer;
}

#addbtn {
    float: none;
}

#hdr {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    background-color: var(--col-bgi);
    color: var(--col-txtd);
}

#login, #newuser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--col-bg);
    z-index: 10;
}

#newuser {
    display: none;
}

#hwrap {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#additem {
    display: block;
    position: relative;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px var(--col-border) solid;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    width: 50%;
}

#chfname, #chlname, #chpasscur, #chpassnew {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#submituseredit, #submitchpass {
    width: calc(100% - 20px);
}

#deluserbtn {
    background-color: var(--col-rm);
    color: var(--col-txtd);
}

#usearchinput, #hrefinput {
    width: calc(100% - 20px);
}

#backbtn, #itemval, #additemsubmit {
    border: 1px var(--col-txtd) solid;
    float: left;
}

#backbtn, #additemsubmit {
    width: 20%;
    border-left: none;
    border-right: none;
}

#sortorder {
    float: right;
    margin-right: 20px;
    background-color: var(--col-bg);
    font-size: 0.9em;
    color: var(--col-txtl);
    border: none;
}

#itemval {
    width: 60%;
    margin: 0;
}

#ui {
    width: 100%;
}

#usermenu, #useredit, #viewmenu {
    display: none;
}

.giantgap {
    height: 200px;
}

.smallgap {
    height: 20px;
}

.microgap {
    height: 10px;
}

.logo {
    display: flex;
    font-size: 4em;
    color: var(--col-txtl);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.statuspop {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px #222 solid;
    background-color: var(--col-bg);
    color: var(--col-txtl);
    opacity: .8;
    transition: 1s;
}

.ulist {
    /* TODO */
}

.toggleswitch {
    margin-right: 20px;
    float: right;
    display: block;
    width: 40px;
    height: 20px;
    background-color: var(--col-bgl);
    border: 1px #222 solid;
    cursor: pointer;
}

#toggleinactiveval, #toggletimerval {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--col-bgi);
}

.slname {
    display: block;
    float: left;
    color: var(--col-txtl);
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: 1px var(--col-border) solid;
    cursor: pointer;
}

.item {
    position: relative;
    display: block;
    background-color: var(--col-bgi);
    border-bottom: 1px var(--col-border) solid;
}

.itemval {
    display: flex;
    padding: 10px;
    color: var(--col-txtd);
    font-size: 1.2em;
    height: 100%;
    width: calc(80% - 20px);
}

.itemmenubutton {
    display: flex;
    position: absolute;
    top: 0;
    right: 10%;
    width: 10%;
    height: 100%;
    border-left: 1px var(--col-border) solid;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.itemmenubutton:hover {
    background-color: var(--col-sel);
}

.dot {
    display: flex;
    margin: 1px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--col-border);
}

.rm {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: var(--col-rm);
    cursor: pointer;
    font-size: 1.5em;
    border-left: 1px var(--col-border) solid;
    justify-content: center;
    align-items: center;
}

.switchlabel {
    margin-left: 20px;
    float: left;
    color: var(--col-txtl);
}

.contextmenu {
    position: fixed;
    z-index: 20;
    top: 20%;
    left: 20%;
    width: 60%;
    border: 1px var(--col-border) solid;
    background-color: var(--col-bg);
}

.menuheader {
    padding: 10px;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 1.6em;
    color: var(--col-txtl);
}

.menubutton {
    width: calc(100% - 20px);
    margin: 10px;
}

.closebutton {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    font-size: 1.5em;
    font-weight: 200;
    width: 1.2em;
    height: 1.5em;
    color: var(--col-border);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.clear {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    clear: both;
}
